name: CD
on:
  push:
    tags: 
      - '*'
jobs:
  build:
    name: Update Version and Build
    runs-on: ubuntu-latest
    steps:
      - name: update version and build
        uses: viniciusfca/templateAction@main
        with:
          username: viniciusfca
          password: ${{secrets.DOCKER_PASSWORD}}
          repository: viniciusfca/cepapi
          tags: v1.0.5
